body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* container utama */
.container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #2f2ea3, #b7d3ef);
  padding: 20px;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

/* tombol back */
.back-btn {
  border: none;
  background: transparent;
  font-size: 35px;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}

/* logo */
.header img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-right: 10px;
}

/* tulisan */
.header h3 {
  margin: 0;
  font-size: 55px;
  font-weight: normal;
  color: black;
}

/* box modul */
.box {
  width: 90%;
  max-width: 320px;
  margin: 20px auto;
  background: rgba(173, 216, 255, 0.7);
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 25px;
  box-sizing: border-box;
}

/* judul modul */
.box h2 {
  margin: 0;
  font-size: 38px;
  font-weight: normal;
  color: black;
}

/* isi */
.box p {
  margin: 0;
  font-size: 22px;
  color: black;
}